Source: kqtquickcharts
Section: kde
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake,
               debhelper (>= 9),
               extra-cmake-modules,
               pkg-kde-tools,
               qtbase5-dev,
               qtdeclarative5-dev
Standards-Version: 3.9.8
Homepage: https://projects.kde.org/projects/kde/kdeedu/kqtquickcharts
Vcs-Browser: https://anonscm.debian.org/git/pkg-kde/applications/kqtquickcharts.git
Vcs-Git: https://anonscm.debian.org/git/pkg-kde/applications/kqtquickcharts.git

Package: qml-module-org-kde-charts
Architecture: any
Section: libs
Depends: qml-module-qtquick2, ${misc:Depends}, ${shlibs:Depends}
Description: QtQuick plugin to render interactive charts
 A QtQuick plugin to render beautiful and interactive charts.
 .
 kqtquickcharts is part of KDE Applications.

Package: kqtquickcharts-dev
Architecture: any
Section: libdevel
Depends: qml-module-org-kde-charts (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Replaces: qml-module-org-kde-charts (<< 4:16.12.1-0neon+16.04+build5)
Breaks: qml-module-org-kde-charts (<< 4:16.12.1-0neon+16.04+build5)
Description: QtQuick plugin to render interactive charts - developer files
 A QtQuick plugin to render beautiful and interactive charts.
 .
 kqtquickcharts is part of KDE Applications.  This package contains
 the files for developing with it.
